html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins';
}

.wallimg {
  background-image: url("/images/wallpaper.jpg");
  /* Full height */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0e0e0e;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 40px;
  z-index: 8;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  background-color: #0e0e0e;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0%;
}

.sidenav ul {
  list-style: none;
}

.sidenav a {
  white-space: nowrap;
  text-align: center;
  padding: 25px 25px 25px 32px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 200;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidenav a:hover {
  color: #777777;
  -webkit-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu {
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  float: right;
  display: block;
  z-index: 10;
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container {
  position: relative;
  /* makes this the origin of its children */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#c {
  width: 100%;
  /* let our container decide our size */
  height: 100%;
  display: block;
}

.logofull {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 20%;
  height: auto;
  position: relative;
  z-index: 5;
  overflow: hidden;
}

.stelute {
  content: url("/images/stelute2.png");
  background: repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.wrappercuprins {
  background-color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 10px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .wrappercuprins {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .stelute {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 10rem;
  cursor: pointer;
}

main .card {
  -webkit-box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  padding: 20px;
  border-radius: 20px;
  background: white;
}

main .card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

main .card .info {
  padding: 10rem;
  display: none;
}

main .card img {
  float: center;
  border-radius: 20px;
  width: 100%;
}

main .card .desc {
  color: gray;
}

.anim {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  margin: 5rem;
  font-size: 45px;
  background: -webkit-linear-gradient(#3d1293, #ed302c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=main.css.map */